<div class="location-panel">
    <p class="dblue-txt">View Location By</p>
    <ul class="tabs" #tabs>
        <li class="tab flex-row button" name="Basic Structure">
            <img src="/assets/i/icon-right-caret.svg" alt="" >
            <img src="/assets/i/icon-folder.svg" alt="">
            <a href="javascript:;">Basic Structure</a>
        </li>
        <li class="tab flex-row  button" name="Physical Hierarchy"> 
            <img src="/assets/i/icon-right-caret.svg" alt="">
            <img src="/assets/i/icon-folder.svg" alt="">
            <a href="javascript:;">Physical Hierarchy</a>
        </li>
        <li class="tab flex-row  button"  name="Management Hierarchy"> 
            <img src="/assets/i/icon-right-caret.svg" alt="">
            <img src="/assets/i/icon-folder.svg" alt="">
            <a href="javascript:;">Management Hierarchy</a>
        </li>
    </ul>
</div>